@charset "utf-8";
/* CSS Document */
.top_area{
	height:50px;background-color:#4593FD; line-height:50px;
}
p{
	font-family:"Microsoft YaHei", "微软雅黑";
	 font-size:26px;
	padding-left:545px;
}
.logoBar{height:85px; background-color:#1D7AD9;}
.search_box{width:1366px; padding-top:23px; padding-left:445px;}
.search_text{width:350px;height:35px; line-height:35px\9;/*css hack  \9 代表所有的ie浏览器*/ padding:0 10px; background-color:#FFF;}
.search_btn{width:70px; height:35px; font-size:14px; font-family:"Microsoft YaHei", "微软雅黑"; background-color:#FF8C00; color:#FFF;}

/* show.jsp*/
table.gridtable{
	font-family: verdana,arial,sans-serif;
	font-size:20px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
